body {
    font-family: Arial;
    background: #dff1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

.weather-box {
    margin-top: 20px;
    font-size: 18px;
}
